.header,.footer{
    padding: 10px 5px;
    background-color: rgb(233, 229, 229);
    min-height: 5vh;
}

.header {
    .btn-primary{
        margin-left: 5px;
    }

    a{
        color: rgb(0, 0, 0) !important;
        text-decoration: none !important;
        
    }


} 

